In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
%pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/python/3.12.1/lib/python3.12/site-packages (17.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/.local/lib/python3.12/site-packages (from pyarrow) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-08.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-08-01 00:21:00,2024-08-01 00:36:13,1.0,7.40,1.0,N,138,80,1,28.9,7.75,0.5,7.65,0.00,1.0,45.80,0.0,1.75
1,2,2024-08-01 00:20:01,2024-08-01 00:41:47,1.0,9.91,1.0,N,138,239,1,40.8,6.00,0.5,11.55,6.94,1.0,71.04,2.5,1.75
2,1,2024-08-01 00:17:52,2024-08-01 00:41:45,0.0,13.40,1.0,N,138,88,1,52.0,10.25,0.5,15.00,0.00,1.0,78.75,2.5,1.75
3,1,2024-08-01 00:49:08,2024-08-01 00:55:56,0.0,3.90,1.0,N,209,137,3,17.0,3.50,0.5,0.00,0.00,1.0,22.00,2.5,0.00
4,1,2024-08-01 00:38:52,2024-08-01 00:42:34,1.0,0.40,1.0,N,148,144,2,5.1,3.50,0.5,0.00,0.00,1.0,10.10,2.5,0.00

In [6]:
import sklearn
sklearn.__version__

'1.5.2'